MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_URI=mongodb://user:password@mongo:27017/my-store?authSource=admin
JWT_SECRET=
CLIENT_URL=http://localhost:3000
LOG_LEVEL=info
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Dev overrides (used with docker-compose.dev.yml)
# LOG_LEVEL=debug
